<div class="container-card">
    <div class="title">
      <h1>Cofres e investimentos</h1>
    </div>
    <table>
      <thead>
        <tr>
          <th>Cofre</th>
          <th>Prazo</th>
          <th>Saldo (USD)</th>
          <th>Rendimento</th>
          <th>Disponível (USD)</th>
          <th>Travado (USD)</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              Cofre 001
          </td>
          <td>
              05/10/24
          </td>
          <td class="font-bold">
              5.000,00
          </td>
          <td>
              1%
          </td>
          <td>
              50.000,00
          </td>
          <td>
              100.000,00
          </td>
          <td>
            <button class="btn button deposit" (click)="handleDeposit()">Depositar</button>
          </td>
          <td>
            <button class="btn button withdraw" (click)="handleWithdraw()">Sacar</button>
          </td>
        </tr>
        <tr>
          <td>
              Cofre 001
          </td>
          <td>
              05/10/24
          </td>
          <td class="font-bold">
              5.000,00
          </td>
          <td>
              1%
          </td>
          <td>
              50.000,00
          </td>
          <td>
              100.000,00
          </td>
        </tr>
        <tr>
          <td>
              Cofre 001
          </td>
          <td>
              05/10/24
          </td>
          <td class="font-bold">
              5.000,00
          </td>
          <td>
              1%
          </td>
          <td>
              50.000,00
          </td>
          <td>
              100.000,00
          </td>
        </tr>
      </tbody>
    </table>
    <div class="investments d-flex align-items-center justify-content-start">
      <h2 class="font-bold">TOTAL INVESTIMENTOS</h2>
      <h3 class="font-bold">8.500,00</h3>
    </div>
  </div>
  