<section class="container-fluid d-flex align-items-center justify-content-center">
  <div class="content">
    <h2 class="first">
        7
        <span><img src="assets\img\arrow-right.svg" alt=""></span>
        Eu garanto que todas as informações prestadas são verdadeiras e estão
        corretas.
      </h2>
      <h2 class="second mt-5">
        <span><img src="assets\img\alert.svg" alt=""></span>
        Entendo que a utilização da plataforma implica na prévia aceitação dos
        <span><a href="">Termos de Uso</a></span> e da
        <span><a href="">Política de Privacidade</a></span> da mesma. *
      </h2>
      <div class="mt-5 allow-decline">
        <button class="btn button"> <span><img src="assets\img\accept.svg" alt="Aceito"></span> Aceito</button>
        <button class="btn button mt-2"> <span><img src="assets\img\decline.svg" alt="Não aceito"></span> Não aceito</button>
      </div>
      <button class="btn button mt-4 send" (click)="submitForm()">Enviar</button>
      <p class="mt-5">Nunca envies palavras-passe - <span><a href="">Reportar abuso</a></span></p>
  </div>
</section>
