<nav class="d-flex navbar nav-main">
    <div class="content-navbar d-flex justify-content-between align-items-center">
        <ul class="logo d-flex align-items-center">
            <li>
                <a routerLink="dashboard-main">
                    <img src="assets\img\logo-noprego.svg" alt="">
                </a>
            </li>
        </ul>
        <ul class="links d-flex">
            <li class="nav-item">
                <a routerLink="dashboard-main">Painel de objetos</a>
            </li>
            <li class="nav-item">
                <a routerLink="investimentos">Investimentos</a>
            </li>
            <li class="nav-item">
                <a [href]="url">>Cadastro de objetos</a>
            </li>
        </ul>
    </div>
</nav>

<div class="collapse" id="navbarToggleExternalContent">
    <div class="p-4">
        <ul class="links">
            <li class="nav-item">
                <a routerLink="dashboard-main">Painel de objetos</a>
            </li>
            <li class="nav-item">
                <a routerLink="investimentos">Investimentos</a>
            </li>
            <li class="nav-item">
                <a [href]="url">>Cadastro de objetos</a>
            </li>
        </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark nav-mobile">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>