.nav-main{
    background-color: #000;
    padding: 0px 150px;
    margin: 0;

    @media (max-width: 900px) {
        display: none !important;
    }
    li{
        list-style: none;
    }

    .content-navbar{
        border-bottom: 1px solid #FFF;
        width: 100%;
    }

    .nav-item{
        padding: 10px;
        position: relative;
        transition: all .3s;
        &::after{
            content: '';
            height: 1px;
            width: 100%;
            position: absolute;
            top: 61px;
            left: 0;
            background-color: #FFF;
        }
        &:hover{
            &::after{
                content: '';
                height: 1px;
                width: 100%;
                position: absolute;
                top: 61px;
                left: 0;
                background-color: #000;
                transition: all .3s;
            }
        }
    }

    a{
        text-decoration: none;
        color: #FFF;
    }

    .logo{
        // width: 70%;
        img{
            width: 130px;
            margin-top: 20px;
        }
    }
}

.nav-mobile{
    display: none;
    background-color: #000 !important;
    @media (max-width: 900px) {
        display: flex;
    }
    
}

.p-4{
    background-color: #000 !important;
    li{
        padding: 10px;
    }
}

.nav-item{
    cursor: pointer;
    color: #FFF;
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFF;
}