.container-fluid{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    min-height: 70vh !important;
    position: relative;
    .cards-container{
        overflow-x: auto;
        width: 100%;
        margin-top: -40px;
        padding: 0 150px;
        @media (max-width: 900px) {
            // background-color: red;
            width: 100%;
            padding: 0 !important;
            justify-content: center !important;
            // margin: -40px auto 0 auto;
            margin: 0;
       }
        .cards{
            gap: 30px;
            
            flex-wrap: wrap;
            width: 100%;
            // background-color: red;
           
        }
    }
    
    .title{
        background-color: #000;
        width: 100%;
        border: none;
        padding: 60px 150px;
        @media (max-width: 900px) {
            padding: 60px 20px;
            // height: 200px;
       }
       h1{
        height: 100%;
       }
       .dashboard-title{
        font-size: 40px;
        font-weight: 600;
    }
    }

    .put-no-prego-container{
        position: absolute;
        top: -70px;
        left: 0;
        background-color: #0000009d;
        width: 100%;
        min-height: 100vh;
        @media (max-width: 900px) {
            width: 100%;
            position: fixed;
            top: 0;
            background-color: #0000009d !important;
            top: 0;
            // overflow: scroll !important;
            
        }
        .content{
            width: 629px;
            min-height: 80%;
            @media (max-width: 900px) {
                width: 90%; 
            }
            // transform: translate(-50%, -50%);
            border-radius: 10px;
            background-color: #FFF;
        }
    }

    .pay-loan{
        position: absolute;
        top: -70px;
        left: 0;
        background-color: #0000009d;
        width: 100%;
        min-height: 100vh;
        @media (max-width: 900px) {
            width: 100%;
            position: fixed;
            top: 50%;
            background-color: #0000009d !important;
            top: 0;
        }
        .content{
            width: 629px;
            min-height: 80%;
            @media (max-width: 900px) {
                width: 90%; 
            }
            // transform: translate(-50%, -50%);
            border-radius: 10px;
            background-color: #FFF;
        }
    }
}