<section class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <img src="assets\img\logo-noprego.png" alt="Logo Noprego">
    <h2 class="text-white">ONDE SUA ARTE VALE MAIS</h2>
    <p class="long-text">Antes de iniciar sua jornada, precisamos que você complemente seu perfil com mais algumas informações...</p>
    <p>Vamos lá?</p>
    <button class="btn button" routerLink="name">Iniciar</button>
    <p class="d-flex align-items-center justify-content-center timer"><img src="assets\img\timer-svgrepo-com (1).svg" alt="Timer">Leva 1 minuto e 30 segundos</p>
</section>
